<div class="section">

<div class="toppad col span_10_of_10">
<div class="center-col-shadow">
	<div class="">

		<div class="signin-box-container">

		<div class="signin-box">

	<div class="section centerhor">
		<h1>Welcome!</h1>
	</div>
</br></br>

<div class="section centerhor">

  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field(:email, {:placeholder => "Email", :required => true, :class => "forms"}) %>

    </br>
  </br>

    <%= f.password_field(:password, {:placeholder => "Password", :required => true, :class => "forms"}) %>
    </br>
  </br>
    <%= f.submit('Login', :class => "button") %>
    <% end %>

</div>
</br>


<div>
  <em>
  Forgot your password? Reset it here.
</em>

  </div>

  
<div class="section centerhor notif">
   <em>
  <% if !flash[:message].nil? %>
   <%= flash[:message] %>
   <% end %>
 </em>
 </div>


</div>
</div>
</div>
</div>



</div>
</div>
