<div class="section" id="toppad">



<div class="col span_2_of_10"></div>

<div class="col span_7_of_10" id="center-col">

	<div class="section centerhor">
		<h2>Join our community!</h2>
	</div>


<div class="section">

	<div class="col span_1_of_10"></div>

	<div class="col span_4_of_10 centerhor">
<%= form_for(@user) do |f| %>
	<h3>First Name</h3>
<%= f.text_field(:firstname, {:placeholder => "First Name", :required => true}) %>
</br>
</br>
<h3>Last Name</h3>
<%= f.text_field(:lastname, {:placeholder => "Last Name", :required => true}) %>
</br>
</br>
<h3>Email</h3>
<%= f.text_field(:email, {:placeholder => "E-mail", :required => true}) %>
</br>
</br>

	</div>
	

<div class="col span_4_of_10 centerhor">



<h3>Create a Password</h3>
<%= f.password_field(:password, {:placeholder => "Password", :required => true}) %>
</br>
</br>
<h3>Confirm Password</h3>
<%= f.password_field(:password_confirmation, {:placeholder => "Confirm Password", :required => true}) %>
</br>
</br>



</br>
<%= f.submit("Create Account") %>

<% end %>

</br></br>

</div>

<div class="col span_1_of_10"></div>



</div>


</div>

<div class="col span_1_of_10"></div>



</div>