<div class="section">
<div class="center-col-shadow">
	<div class="toppad col span_10_of_10"
	<div class="section centerhor">
		<h1>Join our community!</h1>
	</div>
</br></br>

<div class="section centerhor">
<%= form_for(@user) do |f| %>
	<h3>First Name</h3>
	</br>
<%= f.text_field(:firstname, {:placeholder => "First Name", :required => true, :class => "forms"}) %>
</br>
</br>
<h3>Last Name</h3>
</br>
<%= f.text_field(:lastname, {:placeholder => "Last Name", :required => true, :class => "forms"}) %>
</br>
</br>
<h3>Email</h3>
</br>
<%= f.text_field(:email, {:placeholder => "E-mail", :required => true, :class => "forms"}) %>
</br>
</br>




<h3>Create a Password</h3>
<h3>Must be 7 or more characters</h3>
</br>
<div>
<%= f.password_field(:password, {:placeholder => "Password", :required => true, :class => "forms"}) %>
</div>
</br>
<h3>Confirm Password</h3>
</br>
<div>
<%= f.password_field(:password_confirmation, {:placeholder => "Confirm Password", :required => true, :class => "forms"}) %>
</div>
</br>


</div>

<div class="section centerhor">

<%= f.submit("Create Account", :class => "button") %>

<% end %>
<br>
</div>

<div class="section centerhor notif">
   <em>
  <% if !flash[:message].nil? %>
   <%= flash[:message] %>
   <% end %>
 </em>
 </div>


</div>



</div>
</div>
