


<div class="section" id="toppad">



<div class="col span_2_of_10"></div>

<div class="col span_7_of_10" id="center-col">

<%= "USERS#SHOW" %>

<!--
Here is all the profile activity ordered by date created
The render method you see is rendering a partial. For every iteration of the loop,
it will render the corresponding partials:
  Firetalk: /firetalks/_firetalk.html.erb
  FiretalkDebater: /firetalk_debaters/_firetalk_debater.html.erb
  and so on for debates and posts
-->

<% @total.each do |obj| %>
  <% if obj %>
    <%= render(:partial => obj, :locals => {:obj => obj}) %>
  <% end %>
<% end %>

<br />

<!-- Here is where the user information will be printed -->
<%= "USER INFO HERE" %>
<%= @user.firstname %>
<%= @user.lastname %>
<%= @user.school %>

<!-- just a thought, maybe keep track of how much they have participated? -->
<% total_debate_instances = @debates.length + @firetalks.length + @firetalk_debaters.length %>
<%= "Total debates: " + total_debate_instances.to_s %>

<%= session[:user_id].to_s + " " + @user.id.to_s %>
<% if session[:user_id] == @user.id %>
  <%= link_to("Reset Password", '/change_password') %>
<% end %>

</div>

<div class="col span_1_of_10"></div>



</div>
