<div class="section">
	<div class="col span_10_of_10">
    <div class="center-col-shadow">
      <div class="prof-container">
        <div class="prof">

<div class="user-info-box-container">
  <div class="user-info-box">
    <!-- Here is where the user information will be printed -->
      <div class="user-info-content">
      <div class="user-info-name">
        <h3>
          <%= @user.firstname %>
          <%= @user.lastname %>
        </h3>
      </div>

      <div class="user-info-school">
        <%= @user.school %>
      </div>

  <!-- just a thought, maybe keep track of how much they have participated? -->

      <div class="user-info-total-debates">
        <% total_debate_instances = @debates.length + @firetalks.length + @firetalk_debaters.length %>
        <%= "Total debates: " + total_debate_instances.to_s %>
      </div>


      <div class="user-info-reset-password">
        <%= session[:user_id].to_s + "" + @user.id.to_s %>
        <% if session[:user_id] == @user.id %>
        <%= nav_link("Reset Password", change_password_path, :method => "get") %>
        <% end %>
      </div>
    </div>

</div>
</div>






<!--
Here is all the profile activity ordered by date created
The render method you see is rendering a partial. For every iteration of the loop,
it will render the corresponding partials:
  Firetalk: /firetalks/_firetalk.html.erb
  FiretalkDebater: /firetalk_debaters/_firetalk_debater.html.erb
  and so on for debates and posts
-->


<div class="user-activity-container">

  <div class="bordered-box-container">
    <div class="bordered-box">


<div class="user-activity-box-container">
  <div class="centerhor">
    <h3>
  Recent activity
</h3>
</div>
  <div class="user-activity-box">
    <% @total.each do |obj| %>
      <% if obj %>
  <div class="user-activity-item-container">
  <div class="user-activity-item">


    <%= render(:partial => obj, :locals => {:obj => obj}) %>
    <% end %>
  <% end %>


  </div>
</div>
</br>

</div>
</div>

</div>
</div>

</div>


</div>
</div>
</div>
</div>
</div>
