<div class="section">
	<div class="col span_10_of_10 toppad">
    <div class="center-col-shadow">
			<% if !flash[:message].nil? %>
		    <%= flash[:message] %>
		    <% end %>
<%= link_to("Tell us how we're doing.", '/feedbacks/new') %>

					Welcome!
				<%= button_to "Login", login_path, {:class => "home-butts button", :method => "get"} %>

				<%= button_to "Signup", new_user_path, {:class => "home-butts button", :method => "get"} %>



<div class="section home-section">
			<h1 class="centerhor">
				<strong>
					Welcome to Debatable!
				</strong>

			</h1>

			</br>
	<blockquote class="home-p-left-border">
		<h2 style="color:#0077e6;">
	<em>
	Our Mission:
		</em>
</h2>
</br>
		<p>
			<h4>
		Here at debatable, we want to give people the stage to share their opinions
		 and be understood by their communities. Debatable is a live-video debating
		  social media platform that bridges face to face conversation and social media interaction.
		 </br>
		</br>
		<em>
			- The Debatable Team
		</em>
	</h4>
	</p>
</blockquote>
</div>




<div class="section  home-section about-home">
	<h2 class="centerhor">We're here to help you speak your mind.</h2>
		</br>
		<h3>
			Debates
		</h3>
		<blockquote  class="home-p-left-border">
			Debate and discuss any topic face-to-face with whoever you want whether they live across the globe or across the nation.
		</blockquote  class="home-p-left-border">
		<h3>
			Firetalk
		</h3>
		<blockquote  class="home-p-left-border">
			Battle your friends with your words as you fight through rounds of elimination in a fast-paced debatable game.
		</blockquote>
		<h3>
			Moderation
		</h3>
		<blockquote  class="home-p-left-border">
			With the option of adding a moderator, you will be able to ensure there is a neutral participant, as well as keep the discussion on-topic.
		</blockquote>
		<h3>
			Social Media
		</h3>
		<blockquote class="home-p-left-border">
			Engage in a true social atmosphere centered on intelligent debate and discussion. Where every status update can turn into the next big debate or firetalk; debatable truly brings the town hall to the web.
		</blockquote>
		<h3>
			Share Debates
		</h3>
		<blockquote class="home-p-left-border">
			Share debates on Facebook, Twitter, and other existing social media to show the world what you have been up to.
		</blockquote>

	</div>

	<div class="section home-section">

	<div class="center-obj">
		<div class="fb-page" data-href="https://www.facebook.com/debatablelive" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/debatablelive"><a href="https://www.facebook.com/debatablelive">Debatable</a></blockquote></div></div>
	</div>
		<h2 class="text-center">
			The Team:
		</h2>

		<%= image_tag("debatableteampic.png", :class => "img-thumbnail img-responsive") %>

	<h3>
		William Felix
	</h3>
	<h4>
		<em>
			Front-end Developer and Co-Founder
		</em>
	</h4>
	</br>
	<h3>
		Garrick Król
	</h3>
	<em>
		<h4>
			Senior Developer and Co-Founder
		</h4>
	</em>
	</br>
	<h3>
		Brandon Prinz
	</h3>
	<em>
		<h4>
			CEO and Co-Founder
		</h4>
	</em>
	</br>
	<h3>
		Dane Halvorson
	</h3>
	<em>
		<h4>
			COO and Co-Founder
		</h4>
	</em>
	</br></br>
	<h3>
		Questions?
		</br>
		Contact us at about@debatable.co
	</h3>

</div>

</div>
</div>
</div>
