<div class="jumbotron">
<div class="container">
	<a name="mission"></a>
	<div class="row">
	<h2>
		<strong>Welcome to Debatable!</strong>
	</h2>
	<h3>Our Mission:</h3>
	<div class="text-justify">
	<p>
		Here at debatable we want to give people the stage that allows them to share their opinions and be understood by their community. Debatable is a live video debating social media platform that bridges face to face conversation and social media interaction. We want everyone to bring their passion to our platform come February 20th at launch!
	</p>
</div>
</div>
<div class="row text-center">
	<h3>Sincerely,</h3>
	<h3>The Debatable Team</h3>
</div>
</div>
</div>
</div>
</div>

<div class="well">
	<div class="container">
		<a name="features"></a>
		<div class="container">
<div class="row">
	<div class="col-md-6">
	<h2>Features will include:</h2>
	</div>
<div class="col-md-3"></div>	
</div>

</br>

	<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-8">
	<h3><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
	Debate, from anywhere. 
	</h3>
	<blockquote>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet, quam vel tincidunt faucibus, tortor eros dapibus elit, non posuere massa turpis ullamcorper tortor.
	</blockquote>
	</div>
	<div class="col-md-3"></div>
	</div>

</br>

	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
	<h3><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
	Firetalk 
	</h3>
	<blockquote>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet, quam vel tincidunt faucibus, tortor eros dapibus elit, non posuere massa turpis ullamcorper tortor.
	</blockquote>
	</div>
	<div class="col-md-3"></div>
	</div>

</br>

	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
	<h3><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
	Moderation
	</h3>
	<blockquote>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet, quam vel tincidunt faucibus, tortor eros dapibus elit, non posuere massa turpis ullamcorper tortor.
	</blockquote>
	</div>
	<div class="col-md-3"></div>
	</div>

</br>

	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
	<h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	Social Media
	</h3>
	<blockquote>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet, quam vel tincidunt faucibus, tortor eros dapibus elit, non posuere massa turpis ullamcorper tortor.
	</blockquote>
	</div>
	<div class="col-md-3"></div>
	</div>

</br>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
	<h3><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
	Save Debates
	</h3>
	<blockquote>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet, quam vel tincidunt faucibus, tortor eros dapibus elit, non posuere massa turpis ullamcorper tortor.
	</blockquote>
	</div>
	<div class="col-md-3"></div>

</div>
</div>
</div>
</div>


<div class="jumbotron">
	<div class="container">
		<a name="about"></a>
		<div class="container">
			<div class="col-md-1"></div>
			<div class="col-md-11">
	<h2>The Team:</h2>
</div>
</div>
	<div class="container">
		<div class="col-md-1"></div>
		<div class="col-sm-6 col-md-2">
    		<div class="thumbnail">
	<%= link_to image_tag("profile_placeholder.png", :class => "img-thumbnail img-responsive") %>
	<div class="caption text-center">
        <h4>Brandon Prinz</h4>
        <h5>CEO and Founder</h5>
</div>
</div>
</div>

<div class="col-sm-6 col-md-2">
    		<div class="thumbnail">
	<%= link_to image_tag("profile_placeholder.png", :class => "img-thumbnail img-responsive") %>
	<div class="caption text-center">
        <h4>Dane Halverson</h4>
        <h5>CCO and Co-Founder</h5>
</div>
</div>
</div>
<div class="col-sm-6 col-md-2">
    		<div class="thumbnail">
	<%= link_to image_tag("profile_placeholder.png", :class => "img-thumbnail img-responsive") %>
	<div class="caption text-center">
        <h4>Garrick Król</h4>
        <h5>Senior Developer and Co-Founder</h5>
</div>
</div>
</div>
<div class="col-sm-6 col-md-2">
    		<div class="thumbnail">
	<%= link_to image_tag("profile_placeholder.png", :class => "img-thumbnail img-responsive") %>
	<div class="caption text-center">
        <h4>Marielle Trumbauer</h4>
        <h5>Head of Finance and Co-Founder</h5>
</div>
</div>
</div>

<div class="col-sm-6 col-md-2">
    		<div class="thumbnail">
	<%= link_to image_tag("profile_placeholder.png", :class => "img-thumbnail img-responsive") %>
	<div class="caption text-center">
        <h4>William Felix</h4>
        <h5>Front-end Developer and Co-Founder</h5>
</div>
</div>
</div>
<div class="col-md-1"></div>
</div>
</div>
</div>




<!--
<div>
      <div>
    <%= button_to "Login", login_path, {:class => "btn btn-default", :method => "get"} %>
</div>
</br>
    <div>
    <%= button_to "Signup", new_user_path, {:class => "btn btn-default", :method => "get"} %>
</div>
  </div>
-->
