<div class="section">
	<div class="col span_10_of_10 toppad">
    	<div class="center-col-shadow">




    		<!--MAIN SECTION START-->

			<div class="section home-container">


				<div class="section home-section centerhor">
			<% if !flash[:message].nil? %>
		    <%= flash[:message] %>
		    <% end %>
			</div>



						


					<div class="bordered-box-container welcome-news">
						<div class="">


							<div  class="centerhor">
						<h1>
						
								Welcome to Debatable <span>beta</span>!
							
						</h1>
					</div>
					</br>
						
					</div>
					</div>

					<div class="bordered-box-container faqs-news">
						<div class="bordered-box">
							<div class="centerhor" style="text-decoration:underline;">
							FAQ
						</div>
					</br>
					<div>
						<strong>
							What's goin' on here?
						</strong>
						</div>
						</br>
						<div>
						
							<em>
								- Debatable is a live-video debating platform. We're here to help you
								speak your mind and reach the community.
							</em>
						
					</div>
				</br>
						<div>
							<strong>
							What's a firetalk?
						</strong>
						</div>
					</br>
						<div>
							<em>
								- A firetalk is an elimination-round debate game.
								One can create a firetalk and invite their friends or
								they could join a random firetalk with random users
								and discuss the topic of the day!
							</em>
						</div>
						</br>

						<div>
							<strong>
							How does a firetalk work?
						</strong>
						</div>
					</br>
						<div>
							<em>
								- In each round, everyone gets to talk
								once for 45 seconds, and you can talk about the topic in order to gain votes. The player at the end of each round that has the least amount of votes is eliminated. This continues until a winner is chosen!
							</em>
						</div>
					</div>
					</div>






					<div class="bordered-box-container options-news">
						<div class="bordered-box centerhor">

							<div>
								<em>
							Todays topic:
						</em>

					</br>

							<h3>
							<%= @topic %>
						</h3>


						</div>


						<hr>


						<div>
							<div>
							<%= link_to 'Go Debate!', join_random_firetalk_path, {:class => "home-butts button", :method => 'GET'} %>
						</div>

							<em>
								Discuss todays topic in a random firetalk!
							</em>
						</div>
					</br>
						<div>
							<%= link_to 'Watch Debate!', watch_random_firetalk_path, {:class => "home-butts button", :method => 'GET'}%>
						</div>
							<em>
								Watch a random firetalk!  

							</em>
							<div>
		<% if @firetalks_in_progress %>
		<% @firetalks_in_progress.each do |firetalk| %>
			<%= "Debaters" %>
			<% firetalk.firetalk_debaters.each do |debater| %>
			<% end %>
		<% end %>
		<% end %>
	</div>


						</div>
					</div>





							
						
					

			</div>

			<!--MAIN SECTION END-->



		</div>
	</div>
</div>

