<div class="section" id="toppad">



<div class="col span_2_of_10">

	<div class="leftbar-news">

		<div class="centerhor">

<h3>Talk it up!</h3>
		</div>
	</br>

<div class="home-butts-container">
	<%= button_to "New Debate", new_user_debate_path(@user), {:class => 'home-butts button', :method => 'get'} %>
</div>
</br>
<div class="home-butts-container">

	<%= button_to "New Firetalk", new_user_firetalk_path(@user), {:class => 'home-butts button', :method => 'get'} %>
</div>

</div>


</div>

<div class="col span_7_of_10" id="center-col">

<div class="centerhor">
	<h1>
		<strong><%= image_tag("logo.png", :class => "logohome")%>
			Welcome to Debatable!
		</strong>
	</h1>
</br>
	<h3>
		<em>
		Our Mission:
	    </em>
	</h3>
</br>
	<blockquote class="justification">
		<p>
			Here at debatable, we want to give people the stage to share their opinions and be understood by their communities. Debatable is a live-video debating social media platform that bridges face to face conversation and social media interaction.<br>
		</p>
	</blockquote>
	<em>- The Debatable Team</em>

</div>

	<br><br>

</br>

<div class="news">
	<div class="centerhor"><h2>In the news:</h2></div>
</br>

<% @news_items.each do |news_result| %>
<% news_articles = news_result[:News] %>
<% news_articles.each do |news_article| %>
<div class="newsItem">
	<%= link_to(news_article[:Title], news_article[:Url]) %>
	<div class="newsdesc">
	<%= news_article[:Source] %>
	<%= news_article[:Description][0..100] << "..." %>
</div>
</div>
<br />
<% end %>
<% end %>

</div>

</br>
<div class="center-obj">

	<div class="fb-page" data-href="https://www.facebook.com/debatablelive" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/debatablelive"><a href="https://www.facebook.com/debatablelive">Debatable</a></blockquote></div></div>

</div>
</br></br>
<div>

<h3>
				Questions?</br>
			Contact us at about@debatable.co
		</h3>
	</div>
</div>

<div class="col span_1_of_10"></div>



</div>

<!--

<%= link_to('My Profile', @user) %>

<<<<<<< HEAD
-->




