<<<<<<< HEAD
<div class="section" id="toppad">



<div class="col span_2_of_10"></div>

<div class="col span_7_of_10" id="center-col">



  <div class="section centerhor">

 <h2>
      Create a New Debate
    </h2>

  </div>

  <div class="section">

<div class="col span_1_of_10">

    </div>    

    <div class="col span_4_of_10">

      <%= form_for [@user, @debate] do |f| %>
<h4>
Debate Name
</h4>

</br>

    <%= f.text_field(:name, :placeholder => 'Debate Name', :required => true, :class => "forms") %>


<hr>

<h4>
Description
</h4>

</br>

    <%= f.text_area(:description, :placeholder => 'Description', :class => "forms") %>

<hr>

 <h4>
What style?
</h4>

</br>

    <%= f.collection_select(:debate_style_id, @debate_styles, :id, :debate_style, {:required => true}, {:class => "forms"}) %>
<hr>

<h4>
What are you debating?
</h4>

</br>

    <%= f.collection_select(:category_id, @categories, :id, :category_name, {:required => true}, {:class => "forms"}) %>

<hr>

<h4>
Topic
</h4>

</br>

    <%= f.text_field(:topic, :placeholder => 'Topic', :required => true, :class => "forms") %>

    
<hr>
    <h4>
    <%= f.label('Public') %>
    
=======
<%= form_for [@user, @debate] do |f| %>
  <% #= f.collection_select(:category_id, @categories, :id, :category_name, :required => true) %>
  <% #= f.collection_select(:debate_style_id, @debate_styles, :id, :debate_style, {:required => true}, {:class => 'debate_dropdown_style'}) %>
  <%= f.text_field(:topic, :placeholder => 'Topic', :required => true) %>
  <%= f.text_field(:name, :placeholder => 'Debate Name', :required => true) %>
  <%= f.text_area(:description, :placeholder => 'Description') %>
  <%= f.hidden_field(:size, :value => 1, :class => 'debate_size_style') %>
  <%= f.label('Public') %>
>>>>>>> refs/remotes/rhenvar/master
  <%= f.check_box(:public) %>
</h4>

</br></br>
    </div>

    <div class="col span_4_of_10">


  <%= f.hidden_field(:size, :value => 1, :class => 'debate_size_style') %>


    <h4>
    Invite Debaters:
  </h4>

  </br>
 
  <%= f.fields_for :debater_invites do |debater_invite_form| %>
  <%= render 'debater_invite_fields', f: debater_invite_form %>
  <% end %>

<hr>

    <h4>
    Invite Moderators:
  </h4>

  </br>

  <%= f.fields_for :moderator_invites do |moderator_invite_form| %>
  <%= render 'moderator_invite_fields', f: moderator_invite_form %>
<<<<<<< HEAD
  

  <h4>
  <%= link_to_add_moderator_fields "Add Moderator", f, :moderator_invites %>
</h4>

</br>
  


</div>


<div class="col span_1_of_10">

    </div>   

  </div>

  <div class="section centerhor">
  <h4>
    <%= f.submit %>
  </h4>
</br></br>
  <% end %>
=======
  <% end %>
  <% #= link_to_add_moderator_fields "Add Moderator", f, :moderator_invites %>
  <%= f.submit %>
>>>>>>> refs/remotes/rhenvar/master
<% end %>
</div>


</div>




</div>

<div class="col span_1_of_10"></div>



</div>