<script type="text/javascript" src="https://static.opentok.com/v2/js/opentok.min.js"></script>

<!--<%= 'ONE V ONE VIEW' %>-->

<%= javascript_tag do %>

alert("<%= j @debate.tok_session_id %>");
var apiKey = '45241592';
var sessionId = "<%= j @debate.tok_session_id %>";
var token = "<%= j @tok_token %>";
var debateId = "<%= j @debate.id.to_s %>";
var debateSize = "<%= j @debate.size.to_s %>";
var userId = "<%= j @user.id.to_s %>";

var session;
var connected = 1;

TB.setLogLevel(TB.DEBUG);
var session = TB.initSession(sessionId);
session.addEventListener('sessionConnected', sessionConnectedHandler);
session.addEventListener('streamCreated', streamCreatedHandler);
session.addEventListener('streamDestroyed', streamDestroyedHandler);
session.connect(apiKey, token);

var publisher;
function sessionConnectedHandler(event) {
    publisher = TB.initPublisher(apiKey, 'videobox');
    session.publish(publisher);

    // Subscribe to streams that were in the session when we connected
    subscribeToStreams(event.streams);
}

function streamCreatedHandler(event) {
    subscribeToStreams(event.streams);
}

function subscribeToStreams(streams) {
  for (var i = 0; i < streams.length; i++) {
    // Make sure we don’t subscribe to ourself
    if (streams[i].connection.connectionId == session.connection.connectionId) {
      return;
    }

    // Create the div to put the subscriber element in to
    var div = document.createElement('div');
    div.setAttribute('id', 'stream' + streams[i].streamId);
    document.body.appendChild(div);

    // Subscribe to the stream
    session.subscribe(streams[i], div.id);
  }
}

function streamDestroyedHandler(event) {
  connected--;
}

function sendSignal() {
  session.signal({
     type: "foo",
     data: "hello"
     },
     function(error) {
     	if (error) {
          alert("error " + error.message);
     	} else {
     	  alert("sent");
     	}
     });
}

session.on("signal", function(event) {
     alert("Signal Sent from connection: " + event.id);
     alert("Signal Data " + event.data);
});

<% end %>


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>


<div class="col-md-8">
<button onclick="sendSignal()">Send Signal</button>

<div class="one_versus_one_owner_box"></div>
<div class="one_versus_one_opponent_box"></div>
<div class="one_versus_one_moderator_box"></div> 
<div class="jumbotron">
    <div id="videobox"></div>
    </div>
</div>



</div>
</div>
