<html>
  <body>
    <div class="titlebox">
      <%= @debate.name %>
    <div>
    <div class="descriptionBox">
      <%= @debate.description %>
    </div>
    <div class="videobox"></div>
    <script type="text/javascript" src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <%= javascript_tag do %>
      // WORKING OH MY FUCKING GOD, DO NOT DELETE
      alert('<%= @debate.tok_session_id %>');
      var apiKey = '45241592';
      var sessionId = '<%= j @debate.tok_session_id %>';
      var token = '<%= j @tok_token %>';
      var debateUserId = '<%= @debate.user_id %>';
      var userId = '<%= @user.id %>';

      var session;
      TB.setLogLevel(TB.DEBUG);
      var session = TB.initSession(sessionId);
      session.addEventListener('sessionConnected', sessionConnectedHandler);
      session.addEventListener('streamCreated', streamCreatedHandler);
      session.connect(apiKey, token);

      var publisher;
      if (userId == debateUserId) {
        sessionConnectSelf();
      }
      function sessionConnectSelf(event) {
        publisher = TB.initPublisher(apiKey, 'videobox');
        session.publish(publisher);
      }

      function sessionConnectedHandler(event) {
        // Subscribe to streams that were in the session when we connected
        // if button join.click or some shit
        subscribeToStreams(event.streams);
      }

      function streamCreatedHandler(event) {
        // Subscribe to any new streams that are created
        subscribeToStreams(event.streams);
      }

      function subscribeToStreams(streams) {
        for (var i = 0; i < streams.length; i++) {
        // Make sure we don’t subscribe to ourself
          if (streams[i].connection.connectionId == session.connection.connectionId) {
            return;
          }
          // Create the div to put the subscriber element in to
          var div = document.createElement('div');
          div.setAttribute('id', 'stream' + streams[i].streamId);
          document.body.appendChild(div);

          // Subscribe to the stream
          session.subscribe(streams[i], div.id);
        }
      }
    <% end %>
    <% if @user.id != @debate.user_id %>
      <button id="joinButton" onclick = "sessionConnectSelf()">Join Debate</button>
    <% end %>
  </body>
</html>
