
<div class="section">
	<div class="toppad col span_10_of_10">
<div class="center-col-shadow">

	<div class="signin-hero">
		<div class="signin-box-container">

		<div class="signin-box">

  <div class="section">
    <h1 class="centerhor">New Firetalk</h1>
  </div>

</br>

  <div class="section">


  <%= form_for([@user, @firetalk], :url => user_firetalks_path(:protocol => 'https')) do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>


  <h3 class="centerhor">Topic</h3>
  </br>
  <div class="centerhor">

  <%= f.text_field :topic, :class => "forms" %>

</div>
</br>
  <h3 class="centerhor">Title</h3>
  </br>
  <div class="centerhor">

   <%= f.text_field :name, :class => "forms" %>

   </div>
   </br>
  </br>

  <h3 class="centerhor">Description</h3>
  </br>
  <div class="centerhor">

   <%= f.text_field :description, :class => "forms" %>

   </div>


</br>

  <h3 class="centerhor">Invite Debaters</h3>
  </br>




  <div class="centerhor">


  </div>

  <!--%= f.label :user_ids, "Debaters" %-->
  <!--%= f.collection_select :user_ids, User.order(:fullname), :id, :fullname, {}, {:multiple => true} %-->

	<%= f.label :user_tokens, "Users" %>
	<%= f.text_area :user_tokens, :id => 'user_tokens' %>

</div>



<div class="section centerhor">
</br></br>

  <%= f.submit(:class => "button") %>

</br></br>
<% end %>



</div>

</div>



</div>
