<div class="home-left">
  .</div>


    <div class="row center-50">
  <h2 class="center-h">New Firetalk</h2>
  </br>

<%= form_for [@user, @firetalk] do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <h3>Topic</h3>
  <%= f.text_field(:topic, :placeholder => 'Topic', :class => "forms") %>
  </br>
  <h3>Title</h3>
  <%= f.text_field(:name, :placeholder => 'Title', :class => "forms") %>
  </br>
  <h3>Description</h3>
  <%= f.text_field(:description, :placeholder => 'Description', :class => "forms") %>
  </br>
  <h3>Number of Rounds</h3>
  <%= f.text_field(:rounds, :placeholder => '# of rounds', :value => 5, :class => "forms") %>
  </br>
  <h3>Seconds per Round</h3>
  <%= f.text_field(:seconds, :placeholder => 'Seconds per round', :class => "forms") %>
  </br>
  <h3>Invite Debaters</h3>
  <%= f.fields_for :firetalk_debaters do |ff| %>
    <%= ff.text_field(:email, :placeholder => 'Debater Email', :required => true, :class => "forms") %>
  <% end %>
</br>
  <%= f.submit %>
<% end %>
</div>

<div class="home-right">
  .
</div>