<div class="section" id="toppad">



<div class="col span_2_of_10"></div>

<div class="col span_7_of_10" id="center-col">

  <div class="section">
    <h2 class="centerhor">New Firetalk</h2>
  </div>



  <div class="section">

    <div class="col span_1_of_10">

</div>

<div class="col span_4_of_10">

  <%= form_for [@user, @firetalk] do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>



  <h3>Topic</h3>
  <%= f.text_field(:topic, :placeholder => 'Topic', :class => "forms") %>
  <hr>
  <h3>Title</h3>
  <%= f.text_field(:name, :placeholder => 'Title', :class => "forms") %>
  <hr>
  
  <h3>Description</h3>
  <%= f.text_field(:description, :placeholder => 'Description', :class => "forms") %>
  <hr>  

</div>


    <div class="col span_4_of_10">
  <h3>Invite Debaters</h3>


  <%= f.text_field :topic %>
  <%= f.text_field :name %>
  <%= f.text_field :description %>


  <%= f.fields_for :firetalk_debaters do |ff| %>
    <%= ff.text_field(:email, :placeholder => 'Debater Email', :required => true, :class => "forms") %>
  <% end %>
</br>
  
</div>


<div class="col span_1_of_10">

</div>




</div>


<div class="section centerhor">
</br></br>
  <%= f.submit %>

</br></br>
<% end %>


</div>


</div>

<div class="col span_1_of_10"></div>



</div>