<div class="section header-span">

  <div  class="col span_1_of_10"></div>

<div  class="col span_8_of_10">

  <ul>
    <li>
      <%= link_to image_tag("debatable-logo-new-small.svg"), root_path %>
   </li>

  <li>
    <strong>
     <%= nav_link 'Debatable', root_path %> 
   </strong>
   </li>

  <li>
    <em> 
      Beta Launch: February 20th
    </em>
  </li>
<ul class="float-right">
  <li>
    <% if session[:user_id] != nil %>
      <%= nav_link 'Logout', logout_path %>
    <% else %>
    <%= nav_link 'Login', login_path %>
    <% end %>
</li>
</ul>
</ul>

</div>
<div  class="col span_1_of_10"></div>

</div>

<!--

<%= link_to('My Profile', @user) %>

-->