<!--
<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

    <div class="navbar-brand">
     <%= link_to image_tag("chitchat_nav_white.png"), root_path %>
    </div>
        <div class="nav navbar-brand text-center" id="center-vertical-debatable-nav">
    <strong>
        <%= nav_link 'Debatable', root_path %>
    </strong>
</div>
</div>

    
        <ul class="nav navbar-nav navbar-right">
            <li>
                 <% if session[:user_id] != nil %>
      <%= nav_link 'Logout', logout_path %>
    <% else %>
      <%= nav_link 'Login', login_path %>
    <% end %>
            </li>
            <!--
            <li>
            <% if session[:user_id] != nil %>
        <%= button_to "Logout", logout_path, :method => "get" %>
    </li>
            <li>
        <% @user.moderator_invites.each do |m| %>
        <%= m.invite_message %>
    </li>

        </ul>


    </div>
</nav>
    
<% end %>
    <% end %>

-->

<a name="home"></a>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

    <div class="navbar-brand">
     <%= link_to image_tag("chitchat_nav_white.png"), root_path %>
    </div>
        <ul class="nav navbar-nav">
            <div class="navbar-brand">
        <li class="text-primary text-center" id="center-vertical-debatable-nav">
    <strong><%= nav_link 'Debatable', root_path %></strong>
    </li>
</div>
    </ul>
</div>
<p class="navbar-text hidden-sm hidden-xs">
    <em>
        Beta Launch: February 20th
</em>
    </p>
        <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
            
            <li>
<% if session[:user_id] != nil %>
      <%= nav_link 'Logout', logout_path %>
    <% else %>
      <%= nav_link 'Login', login_path %>
    <% end %>
            </li>

</ul>

</div>
</nav>
