<<<<<<< HEAD
<div class="section header-span">

  <div  class="col span_1_of_10"></div>

<div  class="col span_8_of_10">
=======
<a name="home"></a><nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

    <div class="navbar-brand">
     <%= link_to image_tag("chitchat_nav_white.png"), root_path %>
    </div>
        <ul class="nav navbar-nav">
        <li>
            <a href="#home text-primary"><strong>debatable</strong></a>
    </li>
    </ul>
</div>
<p class="navbar-text hidden-sm hidden-xs">
    <em>
        Beta Launch: February 20th
</em>
    </p>
        <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">

            <li> <a href="#mission">mission</a>
    </li>
            <li> <a href="#connect">connect</a>
    </li>

            <li><a href="#features">features</a>
    </li>
             <li><a href="#about">about</a>
    </li>
    <li><%= link_to('Feedback', '/feedbacks/new') %></li>
>>>>>>> refs/remotes/rhenvar/master

  <ul>
    <li class="navlogo">
      <%= link_to image_tag("debatable-logo.png", :class => "navlogo1"), root_path %>
   </li>

<ul class="float-right">
  <li>
    <% if session[:user_id] != nil %>
      <%= nav_link 'Logout', logout_path %>
    <% else %>
    <%= nav_link 'Login', login_path %>
    <% end %>
</li>
</ul>
</ul>

</div>
<div  class="col span_1_of_10"></div>

</div>

<!--

<%= link_to('My Profile', @user) %>

-->