
<div class="section header-span">

  <div  class="col span_1_of_10"></div>

<div  class="col span_8_of_10">

  <ul>
    <li class="navlogo">
      <%= link_to image_tag("debatable-logo.png", :class => "navlogo1"), root_path %>
   </li>

<li><%= link_to('Feedback', '/feedbacks/new') %></li>

<ul class="float-right">
  <li>
    <% if session[:user_id] != nil %>
      <%= nav_link 'Logout', logout_path %>
    <% else %>
    <%= nav_link 'Login', login_path %>
    <% end %>
</li>
<li><%= link_to('My Profile', @user) %>
  </li>
</ul>
</ul>

</div>
<div  class="col span_1_of_10"></div>

</div>


<%= link_to('My Profile', @user) %>
