<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

    <div class="navbar-brand">
     <%= link_to image_tag("debatable_logo_white_extra_small.png"), root_path %>
    </div>
    
        <ul class="nav navbar-nav">
            <li>
                 <% if session[:user_id] != nil %>
      <%= nav_link 'Logout', logout_path %>
    <% else %>
      <%= nav_link 'Login', login_path %>
    <% end %>
            </li>
            <li>
            <% if session[:user_id] != nil %>
        <%= button_to "Logout", logout_path, :method => "get" %>
    </li>
            <li>
        <% @user.moderator_invites.each do |m| %>
        <%= m.invite_message %>
    </li>

        </ul>
    </div>
</div>
</nav>
    
<% end %>
    <% end %>
