<!DOCTYPE html>
<html>
<head>
  <title>Debatable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'http://localhost:9292/faye.js' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.png' %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <script>
    $(function() {
      var faye = new Faye.Client('http://localhost:9292/faye');
      faye.subscribe("/invitations/new", function(data) {
        alert(data);
      });
    });
  </script>
</head>
<body>
  <div class="container">
   <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/header' %>
    </div>
    </div>
  </div>
    <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if !flash[:message].nil? %>
          <%= flash[:message] %>
        <% end %>
      <%= yield %>
    </div>
    </div>
  </div>
      <%= render 'layouts/footer' %>
</body>
</html>
