<!DOCTYPE html>
<html>
<head>
  <title>Debatable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'http://localhost:9292/faye.js' %>
  <%= csrf_meta_tags %>

  <% # TODO: find workaround for unobtrusive solution %>
  <script>
    $(function() {
      var faye = new Faye.Client('http://localhost:9292/faye');
      faye.subscribe("/invitations/new/#{session[:user_id]}", function(data) {
        eval(data);
      });
    });
  </script>
</head>
<body>
    <div class="headerContainer">
      <%= render 'layouts/header' %>
    </div>
    <% if !flash[:message].nil? %>
      <%= flash[:message] %>
    <% end %>
    <%= yield %>
    <div class="footerContainer">
      <%= render 'layouts/footer' %>
    </div>
</body>
</html>
