<!DOCTYPE html>
<html>
<head>
  <title>
    Debatable
  </title>

  <!--
  <% #= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track', 'token-input' => true %>
  <% #= javascript_include_tag 'application', 'data-turbolinks-track', 'jquery.tokeninput' => true %>
  -->
  <%= stylesheet_link_tag "application", "token-input" %>
  <%= javascript_include_tag :defaults, "jquery.tokenInput" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.png' %>
  <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
  <div id="fb-root">
    </div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=281009785261501";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="section group header-span">
      <%= render 'layouts/header' %>
    </div>

    <%= yield %>
    <%= render 'layouts/footer' %>
</body>
</html>
