<!DOCTYPE html>
<html>
<head>
  <title>Debatable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="headerContainer">
      <%= render 'layouts/header' %>
    </div>
    <% if !flash[:message].nil? %>
      <%= flash[:message] %>
    <% end %>
    <%= yield %>
    <div class="footerContainer">
      <%= render 'layouts/footer' %>
    </div>
</body>
</html>
